{% extends "base.html" %}
{% block content %}

<h1>Add Contact</h1>
<br>
<form class="form-group" method="post" action="#">
    <input type ="text" placeholder="name" name="name" value="{{ request.form.name }}"><br>
    <input type ="email" placeholder="email" name="email" value="{{ request.form.email }}"><br>
    <input type = "mobile" placeholder="mobile" name = "mobile" value="{{ request.form.mobile }}"><br>
    <input type = "address" placeholder="address" name = "address" value="{{ request.form.address }}"><br>
    <input type = "mobile" placeholder="country" name = "country" value="{{ request.form.country }}"><br>
    <input class = "btn btn-primary" type="submit" value="Add Contact">
</form>

{% endblock %}
   
   