<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{{ url_for('showContacts') }}">List Contact </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('newContact') }}">Add Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('getUsers') }}">List Users</a>
            </li>
        </ul>
        <a class ="btn btn-secondary navbar-right" href="/logout">Logout</a>
    </nav>
    <div class = "container">
        {% block content %}{% endblock %}

        {% if error %}
            <p class="error">Error : {{error}}</p>
        {% endif %} 

        {% for message in get_flashed_messages() %}
            {{ message }}
        {% endfor %}
    </div>
</body>
</html>