{% extends "base.html" %}
{% block content %}

<h1>Users</h1>
<br>
{% for user in users %}
<table class="table table-dark">
    <thead>
    <tr class="table-primary">
        <td>User Id</td>
        <td>Name</td>
        <td>Email</td>
        <td>Mobile</td>
        <td>Address</td>
    </tr>
   </thead>
    <tr class="table-info">
        <td>{{user.id}}</td>
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td>{{user.mobile}}</td>
        <td>{{user.address}}</td>
    </tr>
</table>
{% endfor %}
{% endblock %}
   
   