{% extends "base.html" %}
{% block content %}

        <h1>Welcome to Flask!</h1>
        <br>
        <p> Click <a href="/"> here</a> to go home</p>
        <a class ="btn btn-warning" href="{{ url_for('newContact') }}">Add Contact</a>
        <a class ="btn btn-secondary" href="{{ url_for('showContacts') }}">List Contact</a>
{% endblock %}